---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Technologies from '../components/Technologies.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gabriel Martínez - Portafolio">
  <Header />
  <main>
    <Hero />
    <About />
    <Technologies />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  
  main {
    padding-top: 80px;
  }
</style>
